{% extends "layout.html" %}
{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Shares</th>
          <th>Price</th>
          <th>TOTAL</th>
        </tr>
      </thead>

      <tbody>
        {% for info in transaction_info %}
          <tr>
            <td>{{ info[0] }}</td>
            <td>{{ info[1] }}</td>
            <td>{{ info[2] }}</td>
            <td>{{ info[3] }}</td>
            <td>{{ info[4] }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td>CASH</td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ cash }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"></td>
          <td><b>{{ total }}</b></td>
        </tr>
      </tfoot>
    </table>
{% endblock %}